<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="../../../../../../Blog_Api/src/main/resources/templates/blog.js">

    <script type="text/javascript">
        function showList(){
            $.ajax({
                type:"GET",
                url:"http://localhost:8080/api/blogs",
                dataType:"JSON",
                data:JSON.stringify({}),

                success: function (data){

                    console.log(blogs)
                    let content = '';
                    let image = '';
                    for (let i = 0; i < blogs.length; i++) {
                        blogs[i].covers.forEach(c => {
                            `<img src="${'http://localhost:8080/image/' + c.name }" width="100px">`
                        })
                        content += `<tr>
        <th scope="row">${i+1}</th>
        <td>${blogs[i].title}</td>
        <td id="showImg"></td>
        <td>${blogs[i].category.name}</td>
        <td>${blogs[i].content}</td>
        <td><button onclick="deleteBlog(${blogs[i].id})">Delete</button></td>
        <td><button type="button" onclick="showEditForm(${blogs[i].id})" data-bs-toggle="modal" data-bs-target="#myModal1">Update</button></td>
    </tr>`
                    }
                    //
                    $("#showList").html(content);
                    $("#showImg").html(image);
                },
                error: function (error) {
                    console.log(error)
                }
            })
        }
        //// <td><img src="${'http://localhost:8080/image/' + blogs[i].covers.name}" width="100px"></td>

        showList();    </script>
</head>
<body>
<div>
  <button type="button" class="btn btn-dark" onclick="">Dark</button>
</div>

<table class="table table-dark table-hover">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Cover</th>
        <th scope="col">Content</th>
        <th scope="col">Category</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody id="showList">
</table>

</body>
</html>