<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        // var http = new XMLHttpRequest();
        // http.open('GET', 'http://localhost:8080/api/blogs', true);
        // http.send();
        // http.onreadystatechange = function (){
        //     if(this.readyState ==4){
        //         blogs((JSON.parse(this.responseText)));
        //     }
        //
        //     function blogs(blogs){
        //         for (var blog of blogs){
        //             console.log(blog)
        //         }
        //     }
        // }
        $(document).ready(function() {
            $.getJSON('http://localhost:8080/api/blogs', function(blogs) {
                var tr=[];
                for (var i = 0; i < blogs.length; i++) {
                    tr.push('<tr>');
                    tr.push('<td>' + blogs[i].id + '</td>');
                    tr.push('<td>' + blogs[i].title + '</td>');
                    tr.push('<td>' + blogs[i].author.name + '</td>');
                    tr.push('<td>');
                        for(var j =0; j< blogs[i].covers.length;j++){
                            tr.push(`<img src="${'http://localhost:8080/image/' + blogs[i].covers[j].name}" width="100px">`)
                            // tr.push('>')
                            // tr.push(blogs[i].covers[j].name)
                        }
                    tr.push('</td>');

                    tr.push('<td>' + blogs[i].content + '</td>');
                    tr.push('<td>' + blogs[i].category.name + '</td>');
                    tr.push('<td><button class=\'edit\'>Edit</button>&nbsp;&nbsp;<button class=\'delete\' id=' + blogs[i].id + '>Delete</button></td>');
                    tr.push('</tr>');
                }
                $('table').append($(tr.join('')));
            });

            $(document).delegate('.btn-add', 'click', function(event) {
                event.preventDefault();

                var name = $('#name').val();

                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "http://localhost:8080/api/blogs",
                    data: JSON.stringify({'name': name}),
                    cache: false,
                    success: function(result) {
                        $("#msg").html( "<span style='color: green'>Company added successfully</span>" );
                        window.setTimeout(function(){location.reload()},1000)
                    },
                    error: function(err) {
                        $("#msg").html( "<span style='color: red'>Name is required</span>" );
                    }
                });
            });
        })


    </script>
</head>
<body>
<div>
  <button type="button" class="btn btn-dark btn-add" onclick="">Add new Blog</button>
</div>

<table class="table table-dark table-hover">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Cover</th>
        <th scope="col">Content</th>
        <th scope="col">Category</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody id="showBlogs">

    </tbody>
</table>


</body>
</html>