<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Update Blogs</h1>
<form th:action="@{/category/updatecategory/{id}(id=${category.id})}" th:object="${category}" method="post">
  <table style="border: 1px solid; margin-bottom: 100px">
    <tbody>
    <tr>
      <td>ID</td>
      <td><input type="text" placeholder="ID" th:field="*{id}" readonly></td>
    </tr>
    <tr>
      <td>Title</td>
      <td><input type="text" placeholder="Name" th:field="*{name}"></td>
      <!--            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> </span>-->
    </tr>

    <tr>
      <td><input type="submit" value="Update Category"></td>
      <td></td>
    </tr>

    </tbody>
  </table>

</form>
</body>
</html>