<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <h1>List Blogs</h1>
      <table style="border: 1px solid; margin-bottom: 100px">
          <thead >
              <tr style="border: 1px solid">
              <th style="padding: 10px 20px;">ID</th>
              <th style="padding: 10px 20px;">Title</th>
              <th style="padding: 10px 20px;">Cover</th>
              <th style="padding: 10px 20px;">Content</th>
               <th style="padding: 10px 20px;">Category</th>
              </tr>
          </thead>
        <tbody>
              <tr th:each="b : ${listBlogs}">
                  <td style="padding: 10px 20px;" th:text="${b.id}"></td>
                  <td style="padding: 10px 20px;" th:text="${b.title}"></td>
                  <td style="padding: 10px 20px;" ><img th:src="${b.cover}" style="width: 50px"></td>
                  <td style="padding: 10px 20px;" th:text="${b.content}"></td>
                  <td style="padding: 10px 20px;" th:text="${b.category.name}"></td>
                  <td><a th:href="@{/blogs/editblog/{id}(id=${b.id})}">Edit</a></td>
                  <td><a th:href="@{/blogs/delete/{id}(id=${b.id})}">Delete</a></td>
              </tr>
        </tbody>
      </table>
      <a th:href="@{/blogs/addblog}" style="padding: 30px 50px; background-color: black; color: aliceblue; text-decoration: none">Add a new Blog</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <a th:href="@{/category/index}" style="padding: 30px 50px; background-color: black; color: aliceblue; text-decoration: none">View Category</a>
</body>
</html>