*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}


a{
    text-decoration: none;
    color: black;
}

#main{
    height: 5000px;
}

#header{
    position: fixed;
    width: 100%;
    max-height: 60px;
    background-color: #333333;
    border-bottom: 1px solid #444;
    
    
}
#header .logo-brand{
    width: 164px;
    height: 45px;
    /* float: left; */
}

#header .logo-brand a{
    line-height: 30px;
    font-size: 19px;
    padding-left: 20px;
    padding-right: 20px;
}

#header .logo-brand a:hover{
    cursor: pointer;
}

#header .logo{
    width: 124px;
    height: 30px;
    margin-top: 15px;
}

#header .product-switcher{
    height: 60px;
    width: 134px;
    background-color: #222222;
    /* float: left; */
}

#header .product-switcher a{
    position: relative;
    color: #9b9b9b;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    max-height: 60px;
    padding: 5px 40px 5px 40px;
    text-decoration: none;
    text-transform: uppercase;
}

#header .product-switcher a::before{
    content: '+';
    left: 20px;
    position: absolute;
    top: 4px;
}

#header .product-switcher a:hover{
    cursor: pointer;
}

#header .btn-close{
    /* float: right; */
    
}

#header .btn-close a{

}

.head-btn{
    /* height: 60px;
    width: 60px; */
    position: relative;
    line-height: 60px;
    text-align: center;
}

.head-btn:hover{
    cursor: pointer;
}

.head-btn a{
    color: #9b9b9b;
    padding: 22px;
    
}

.head-btn.shopping-cart a{
    background-color: #7ac64d;
    color: #fff;
}

.head-btn a:hover{
    background-color: #222222;
    color: #fff;
}

#navbar{

}

#slider{

}

#features{

}

#screenshot{

}

#blog{

}

#feedbacks{

}

#footer{

}
